In [1]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
#import files

trainorig = pd.read_csv('train_jqd04QH.csv')
testorig = pd.read_csv('test_GYi4Gz5.csv')

Explore the data --------------------------------------------------------------------------------------

In [14]:
trainorig.head(3)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,23798,city_149,0.689,Male,Has relevent experience,no_enrollment,Graduate,STEM,3,100-500,Pvt Ltd,1,106,0
1,29166,city_83,0.923,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,<10,Funded Startup,1,69,0
2,46,city_16,0.910,NaN,Has relevent experience,no_enrollment,Graduate,STEM,6,50-99,Public Sector,2,4,0

In [16]:
trainorig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
enrollee_id               18359 non-null int64
city                      18359 non-null object
city_development_index    18359 non-null float64
gender                    14261 non-null object
relevent_experience       18359 non-null object
enrolled_university       18017 non-null object
education_level           17902 non-null object
major_discipline          15521 non-null object
experience                18300 non-null object
company_size              13580 non-null object
company_type              13320 non-null object
last_new_job              17992 non-null object
training_hours            18359 non-null int64
target                    18359 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

In [15]:
trainorig.describe()

        enrollee_id  city_development_index  training_hours        target
count  18359.000000            18359.000000    18359.000000  18359.000000
mean   16729.360096                0.847140       65.899014      0.132088
std     9643.749725                0.110189       60.885300      0.338595
min        1.000000                0.448000        1.000000      0.000000
25%     8378.500000                0.796000       23.000000      0.000000
50%    16706.000000                0.910000       47.000000      0.000000
75%    25148.500000                0.920000       89.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [22]:
#trainorig.city.unique
trainorig['city'].nunique()

123

In [27]:
trainorig['city'].unique()

array(['city_149', 'city_83', 'city_16', 'city_64', 'city_100', 'city_21',
       'city_114', 'city_103', 'city_97', 'city_160', 'city_65',
       'city_90', 'city_75', 'city_136', 'city_159', 'city_67', 'city_28',
       'city_10', 'city_73', 'city_76', 'city_104', 'city_27', 'city_30',
       'city_61', 'city_99', 'city_41', 'city_142', 'city_9', 'city_116',
       'city_128', 'city_74', 'city_69', 'city_1', 'city_176', 'city_40',
       'city_123', 'city_152', 'city_165', 'city_89', 'city_36',
       'city_44', 'city_46', 'city_45', 'city_134', 'city_93', 'city_180',
       'city_162', 'city_84', 'city_138', 'city_173', 'city_19',
       'city_71', 'city_158', 'city_23', 'city_102', 'city_105',
       'city_91', 'city_11', 'city_13', 'city_57', 'city_20', 'city_14',
       'city_37', 'city_115', 'city_50', 'city_167', 'city_12',
       'city_143', 'city_126', 'city_77', 'city_101', 'city_150',
       'city_179', 'city_107', 'city_175', 'city_146', 'city_98',
       'city_166', 'city_118', 'city_129', 'city_127', 'city_24',
       'city_81', 'city_26', 'city_139', 'city_94', 'city_70', 'city_145',
       'city_157', 'city_111', 'city_78', 'city_80', 'city_33', 'city_7',
       'city_72', 'city_43', 'city_144', 'city_39', 'city_59', 'city_48',
       'city_131', 'city_121', 'city_141', 'city_42', 'city_117',
       'city_55', 'city_54', 'city_8', 'city_62', 'city_53', 'city_106',
       'city_155', 'city_133', 'city_171', 'city_2', 'city_120',
       'city_18', 'city_79', 'city_31', 'city_109', 'city_25', 'city_82',
       'city_140'], dtype=object)

In [30]:
#trainorig.city.unique
trainorig['enrolled_university'].nunique()

3

In [32]:
#trainorig.city.unique
trainorig['enrolled_university'].unique()

array(['no_enrollment', 'Full time course', 'Part time course', nan],
      dtype=object)

In [33]:
#trainorig.city.unique
trainorig['education_level'].nunique()

5

In [34]:
#trainorig.city.unique
trainorig['education_level'].unique()

array(['Graduate', 'Masters', 'High School', 'Phd', nan, 'Primary School'],
      dtype=object)

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [36]:
#trainorig.city.unique
trainorig['major_discipline'].nunique()

6

In [37]:
#trainorig.city.unique
trainorig['major_discipline'].unique()

array(['STEM', 'Other', 'No Major', nan, 'Business Degree', 'Arts',
       'Humanities'], dtype=object)

In [38]:
#trainorig.city.unique
trainorig['experience'].nunique()

22

In [39]:
#trainorig.city.unique
trainorig['experience'].unique()

array(['3', '14', '6', '8', '>20', '4', '9', '15', '10', '1', '5', '16',
       '11', '12', '7', '2', '13', '<1', '19', '18', '17', nan, '20'],
      dtype=object)

In [40]:
#trainorig.city.unique
trainorig['company_size'].nunique()

8

In [41]:
#trainorig.city.unique
trainorig['company_size'].unique()

array(['100-500', '<10', '50-99', nan, '5000-9999', '10000+', '1000-4999',
       '500-999', '10/49'], dtype=object)

In [42]:
#trainorig.city.unique
trainorig['company_type'].nunique()

6

In [43]:
#trainorig.city.unique
trainorig['company_type'].unique()

array(['Pvt Ltd', 'Funded Startup', 'Public Sector', nan,
       'Early Stage Startup', 'NGO', 'Other'], dtype=object)

In [44]:
#trainorig.city.unique
trainorig['last_new_job'].nunique()

6

In [45]:
#trainorig.city.unique
trainorig['last_new_job'].unique()

array(['1', '2', '3', '>4', 'never', '4', nan], dtype=object)

In [46]:
#trainorig.city.unique
trainorig['training_hours'].nunique()

241

In [47]:
#trainorig.city.unique
trainorig['training_hours'].unique()

array([106,  69,   4,  26,  88,  34,  23,   8,  10,  85,  55,  13,  51,
        28,  35,  42,  45,  11,  12,  54,  89,  41, 298, 101, 114, 104,
        53,  39,  20, 109,   3,  68, 262,  16,  22,  67,  43,   7,  30,
         9, 112,  21, 166, 110,  18,  79,  98,  65,  61,  44, 170, 132,
       145,  48,  46,  37,  86,  96,  33, 152, 168, 128, 102,   6,  50,
        36,  90, 164,  56,  32,  17, 126,  72,  15,  80,  25,  31, 160,
        66,  24, 200,  47,  83,  58,  29, 206,  14, 105,  91, 218,  75,
        57,  19, 144,  92,  94, 184,  62, 140,  52, 258, 178, 270, 108,
       157, 156, 123,  59,  82,  60,   2, 196,  95,  84,   5, 146, 202,
       100, 111, 254,  27, 336,  64, 107,  76,  38, 134, 330, 204, 320,
        74,  73,  40,  87, 316, 118, 122, 282, 248, 153, 147,  70, 131,
       113, 216, 292,  81, 176,  78, 222, 163,  63, 280, 210, 294, 264,
       155,  77,  97, 224, 180, 236, 125, 162, 116, 158, 256,  49,  71,
       326,   1, 238, 124, 268, 214, 192, 232, 276, 165, 138, 310, 167,
       288, 117,  99, 198, 240, 119, 136, 139, 150, 266, 220, 172, 133,
       284, 272, 312, 306, 130, 154, 188, 174, 182, 332, 290, 120, 121,
       328, 190, 308, 278, 322, 244, 324, 143, 194, 129, 103, 246, 127,
       142, 151, 212, 300, 314, 135, 250, 234, 149, 141, 161, 148, 242,
       226, 304, 228, 260, 286, 302, 334])